* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  color: black;
}

body {
  max-width: 1024px;
  margin: 0 auto;
  font-size: 10px;
}

.container {
  display: flex;
  width: 100%;
  margin: 20px 0;
  border-radius: 25px;
  box-shadow: 0 0 10px 1px #333330;
}

.image {
  margin: 10% auto;
  width: 250px;
  height: 250px;
  background: url("img/cv.png");
  background-size: cover;
  border-radius: 50%;
}

.image_link {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 7px solid #494947;
  border-radius: 50%;
}

.image_link:hover {
  box-shadow: 0 0 10px 1px white;
  transition: 0.2s;
}

.first-name h1,
.first-name p {
  text-align: center;
  font-size: 1.6rem;
  color: #f4f1f2;
}

.first-name p {
  margin-bottom: 35px;
}

.wrapper_header_aside {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #494947;
  color: #f4f1f2;
}

.aside_left {
  padding: 0 40px;
}

.about_me {
  padding-top: 1px;
  font-size: 1.2rem;
}

.about_me .about {
  text-indent: 2rem;
  text-align: justify;
}

.general_skills {
  margin: 20px 0 20px 50%;
  transform: translate(-50%, 0);
}

.about_me ul {
  margin-left: 50px;
}

.wrapper_image {
  border-top-left-radius: 25px;
  padding: 1px 0;
  background-color: #333330;
}

.title_language,
.title_contact_me,
.title_about_me {
  display: flex;
  justify-content: left;
  font-size: 0.8rem;
  margin: 25px 0 25px;
  box-shadow: -10px 10px 10px -10px white;
  border-radius: 25px 0px 0px 30px;
}

.title_language {
  margin: 25px 0 10px;
}

.title_language h3,
.title_about_me h3,
.title_contact_me h3 {
  margin: 15px 0 0 15px;
}

.contacts-item {
  width: 100%;
  font-size: 1.2rem;
}

.icon {
  width: 45px;
  height: 45px;
}

.icon.contact {
  background: url("img/phone_book1.svg");
  background-size: cover;
}

.icon.about {
  background: url("img/user.svg");
  background-size: cover;
}

.icon.language {
  background: url("img/global.svg");
  background-size: cover;
}

.my_portfolio a:link,
.contact_me a:link,
.my_portfolio a:visited,
.contact_me a:visited {
  text-decoration: none;
  color: #e5e2e3;
}

.address {
  list-style-type: none;
  margin-left: 20px;
}

address {
  margin-bottom: 10px;
}

.address a,
.address address {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 10px;
}

.contacts-item-address::before,
.contacts-item-phone::before,
.contacts-item-email::before,
.contacts-item-skype::before,
.contacts-item-linkedIn::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  background-size: cover;
}

.contacts-item-address::before {
  background-image: url("./img/pin.svg");
}

.contacts-item-phone::before {
  background-image: url("./img/phone.svg");
}

.contacts-item-email::before {
  background-image: url("./img/mail.svg");
}

.contacts-item-skype::before {
  background-image: url("./img/skype.svg");
}

.contacts-item-linkedIn::before {
  background-image: url("./img/linkedin.svg");
}

address {
  font-style: normal;
}

.wrapper_flags {
  display: flex;
  justify-content: space-between;
}

.wrapper_flag {
  display: flex;
  flex-direction: column;
}

.wrapper_flag:nth-child(1) .flag {
  width: 100px;
  height: 85px;
  background: url("img/united-kingdom.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper_flag:nth-child(1) .star {
  width: 105px;
  height: 20px;
  background: url("img/stars_eng.png");
  background-size: cover;
}

.wrapper_flag:nth-child(2) .flag {
  width: 100px;
  height: 85px;
  background: url("img/poland.svg");
  background-repeat: no-repeat;

  background-size: cover;
}

.wrapper_flag:nth-child(2) .star {
  width: 105px;
  height: 20px;
  background: url("img/stars_pol.png");
  background-size: cover;
}

.wrapper_flag h6 {
  margin-top: 10px;
  text-align: center;
  font-size: 1.2rem;
}

.star {
  margin-bottom: 25px;
}

/* --------------------------------main----------------------- */
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 40px;
  font-size: 1.2rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #fefffe;
  color: #333330;
}

.nav_main {
  display: flex;
  justify-content: space-between;
  top: 0;
}

.language_code {
  display: flex;
}

.java_script,
.java {
  border: none;
  padding: 4px 6px;
  outline: none;
  color: #494947;
  background-color: #fefffe;
}

.java_script:hover,
.java:hover {
  background-color: #ffc404;
  color: #494947;
  transition: 0.4s;
  cursor: pointer;
}

.java_script {
  border: 1px solid #494947;
  border-bottom-left-radius: 5px;
}

.java {
  border: 1px solid #494947;

  border-bottom-right-radius: 5px;
}

.java_script.active {
  background-color: #494947;
  color: #fefffe;
}

.java.active {
  background-color: #494947;
  color: #fefffe;
}

.language_button {
  display: flex;
}

.language_button .lang {
  border: none;
  outline: none;
  padding: 4px 6px;
  border: 1px solid #494947;
  background: #fefffe;
}

.language_button .lang:nth-child(1) {
  border-radius: 0 0 0 5px;
  border: 0 0 0 10px solid #494947;
}

.language_button .lang:nth-child(2) {
  border-right: none;
  border-left: none;
}

.language_button .lang:nth-child(3) {
  border-radius: 0 0 5px 0;
}

.language_button .lang.active:nth-child(1) {
  border-radius: 0 0 0 5px;
  border: 0 0 0 10px solid #494947;
  background: #494947;
  color: #fefffe;
}

.language_button .lang.active:nth-child(2) {
  border-right: none;
  border-left: none;
  background: #494947;
  color: #fefffe;
}

.language_button .lang.active:nth-child(3) {
  border-radius: 0 0 5px 0;
  background: #494947;
  color: #fefffe;
}

.language_button .lang:hover {
  background-color: #ffc404;
  color: #494947;
  transition: 0.4s;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

.main a:visited {
  color: #494947;
}

.main a:link {
  color: #494947;
}

.main a:hover {
  background-color: #ffc404;
  box-shadow: 0 0 10px 5px white inset;
  color: #494947;
  border-radius: 5px;
  padding: 2px;
  transition: 0.3s;
  cursor: pointer;
}

.developing-li li {
  margin-top: 10px;
  text-indent: 2rem;
}
.about_education_and_work {
  margin-top: 40px;
  padding: 0 40px;
  width: 100%;
}

.title_icon {
  display: flex;
  justify-content: left;
  box-shadow: -10px 10px 10px -10px #000000;
  border-radius: 25px 0px 0px 30px;
}

.title_icon h2 {
  margin: 10px 0 0 15px;
}

.icon_portfolio,
.icon_education,
.icon_work {
  width: 55px;
  height: 55px;
}

.icon_education {
  background: url("img/school.svg");
  background-size: cover;
}

.icon_work {
  background: url("img/work.svg");
  background-size: cover;
}

.icon_portfolio {
  background: url("img/portfolio.svg");
  background-size: cover;
}

.education,
.work,
.portfolio {
  margin-top: 20px;
}

.work {
  margin-bottom: 40px;
}

h2 {
  font-size: 1.6rem;
}

.content {
  font-size: 1.2rem;
}

.calendar {
  margin: 10px 15px 0 0;
  width: 15px;
  height: 15px;
  background: url("img/calendar.png");
  background-size: cover;
}

.wrapper_calendar {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  font-size: 0.8rem;
  color: #879ca5;
}

.date {
  margin: 11px 0 5px 0;
}

ol {
  font-size: 1.2rem;
}

.rs_school,
.teach_me_skills {
  font-weight: bold;
}

.developing-li {
  margin-left: 20px;
}

.content_text {
  text-align: justify;
}

.content_text .rs_school_certificate:any-link {
  font-weight: bold;
  color: rgb(0, 187, 9);
}

.content_text .rs_school_certificate:any-link:hover {
  font-weight: bold;
  color: black;
  background: rgb(55, 255, 65);
  border-radius: 10px;
  box-shadow: 0 0 10px 5px white inset;
  padding: 2px;
}

.portfolio_list,
.content {
  margin-left: 35px;
}

.course {
  font-weight: bold;
}

.wrapper_skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.wrapper_Base_Skills,
.wrapper_Primary_Skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1px;
}

.skills {
  margin: 15px 0 0 0;
}

.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 50%;
  transform: translate(-10%, 0);
}

.skills li {
  width: 50%;
}

.skills li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  list-style: none;
}

.skills_Maven::before,
.skills_MySQL::before,
.skills_Tomcat::before,
.skills_Hibernate::before,
.skills_Spring::before,
.skills_Java::before,
.skills_react::before,
.skills_webpack::before,
.skills_eslint::before,
.skills_Html::before,
.skills_Css::before,
.skills_Js::before,
.skills_Git::before,
.skills_Linux::before {
  content: " ";
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  background-size: cover;
}

.skills_Html::before {
  background-image: url("./img/html.svg");
}

.skills_Css::before {
  background-image: url("./img/css.svg");
}

.skills_Js::before {
  background-image: url("./img/js.svg");
}

.skills_Git::before {
  background-image: url("./img/git.svg");
}

.skills_Linux::before {
  background-image: url("./img/ubuntu.svg");
}

.skills_react::before {
  background-image: url("./img/react.svg");
}

.skills_webpack::before {
  background-image: url("./img/webpack.svg");
}

.skills_eslint::before {
  background-image: url("./img/eslint.svg");
}

.skills_Java::before {
  background-image: url("./img/java.svg");
}

.skills_Spring::before {
  background-image: url("./img/spring.svg");
}

.skills_Hibernate::before {
  background-image: url("./img/hibernate.svg");
}

.skills_Tomcat::before {
  background-image: url("./img/tomcat.svg");
}

.skills_Maven::before {
  background-image: url("./img/maven.svg");
}

.skills_MySQL::before {
  background-image: url("./img/mysql.svg");
}
